<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.blog.mbg.mapper.OssFileInfoMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.blog.mbg.entity.OssFileInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
    <result column="isImg" jdbcType="BIT" property="isimg" />
    <result column="contentType" jdbcType="VARCHAR" property="contenttype" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="size" jdbcType="LONGVARBINARY" property="size" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bl_oss_file_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.blog.mbg.entity.OssFileInfo">
    insert into bl_oss_file_info (id, filename, isImg, 
      contentType, `path`, url, 
      `source`, createTime, updateTime, 
      tenant_id, `size`)
    values (#{id,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, #{isimg,jdbcType=BIT}, 
      #{contenttype,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{tenantId,jdbcType=VARCHAR}, #{size,jdbcType=LONGVARBINARY})
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.blog.mbg.entity.OssFileInfo">
    update bl_oss_file_info
    set filename = #{filename,jdbcType=VARCHAR},
      isImg = #{isimg,jdbcType=BIT},
      contentType = #{contenttype,jdbcType=VARCHAR},
      `path` = #{path,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      `source` = #{source,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      tenant_id = #{tenantId,jdbcType=VARCHAR},
      `size` = #{size,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, filename, isImg, contentType, `path`, url, `source`, createTime, updateTime, 
    tenant_id, `size`
    from bl_oss_file_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, filename, isImg, contentType, `path`, url, `source`, createTime, updateTime, 
    tenant_id, `size`
    from bl_oss_file_info
  </select>
</mapper>